.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
}

.speedTest {
  display: flex;
  align-items: center;
  justify-content: center;

  .textSpeed {
    span {
      font-size: 0.82rem;
      margin-inline-start: 15px;
    }
  }
}
