.card {
  position: relative;
  width: 98%;
  height: 95%;
  transition: all 1500ms;
  border-radius: 2rem;
  transform-style: preserve-3d;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 100%;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

//////////////////////
.backDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98%;
  gap: 1rem;
}

/// ////////////// neomorphism button
.actionContainer {
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .title {
    position: absolute;
    bottom: -19px;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    color: white;
  }
  
  &:hover {
    .title {
      visibility: visible;
      transform: translateY(5px);
      opacity: 1;
      color: green;
    }
  }
  
  
  .buttonContainer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: all 600ms ease-in-out;
    border-radius: 50%;
    box-shadow: inset -10px -10px 19px #202020, inset 10px 10px 19px #202020;
    
    &:hover {
      box-shadow: inset -10px -10px 19px green, inset 10px 10px 19px green;
    }
  }
  
  
  .neomorphicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    border-radius: 50%;
    background: #1f1e1e;
    box-shadow: inset -10px -10px 19px #141414,
    inset 10px 10px 19px rgba(255, 255, 255, 0.2);
    
  }
}

//////