.buttonContainer {
  //border:1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;
  gap: 5px;
  
}

.title {
  font-size: 12px;
}