.buttonContainer {
  //border:1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  text-transform: lowercase;
  gap: 5px;
  
  &:hover {
    .iconElement {
      color: green;
    }
    
    .title {
      color: green;
    }
  }
  
}

.iconElement {
  transition: all ease 0.5s;
  color: white;
}

.title {
  font-size: 12px;
  transition: all ease 0.5s;
  color: white;
}